body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-card {
  flex: 0 0 24%; /* This will ensure that 4 cards fit in a row (100/4 = 25, but we leave a little room for margins) */
  margin: 1%; /* Little bit of margin for some spacing */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Optional: Give the cards a small shadow for effect */
  transition: transform 0.3s ease-in-out; /* Optional: Transition for hover effect */
}

.recipe-card:hover {
  transform: scale(1.05); /* Optional: Make the card grow a bit when hovering */
}

.recipe-card h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

.recipe-card h3 {
  font-size: 1.2em;
  text-align: center;
  color: #666;
  padding: 5px;
}

.recipe-card img {
  width: 100%; /* Make sure the image takes the full width of the card */
  height: auto; /* Keep aspect ratio of the image */
}

.recipe-card div {
  padding: 10px;
  text-align: justify;
}
/* CSS code for the Conversion Calculator */
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

select,
input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px, 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select {
  height: 40px;
}

input[type="text"] {
  height: 36px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}